[
  {
    "slug": "1-1-1-response-to-welcome",
    "title": "1.1.1 RESPONSE TO WELCOME",
    "volume": "VOLUME 1",
    "url": "https://englishbooks.rkmm.org/s/tsv/m/the-complete-works-of-swami-vivekananda/a/1-1-1-response-to-welcome",
    "paragraphs": [
      "At the World’s Parliament of Religions, Chicago 11th September, 1893...",
      "Sisters and Brothers of America,..."
    ],
    "theme": "resilience",
    "emotion": null
  }
]
